Integration HTTP, OpenAI (ChatGPT, Sora, Whisper), Creatomate.blueprint.json
{
    "name": "Integration HTTP, OpenAI (ChatGPT, Sora, Whisper), Creatomate",
    "flow": [
        {
            "id": 1,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://real-time-amazon-data.p.rapidapi.com/search?query=summer+dress&country=IN&page=2",
                "method": "get",
                "headers": [
                    {
                        "name": "X-RapidAPI-Key",
                        "value": "8ad9b1d1f9msh8ac1e218edc4277p170c4cjsne9288cf7d533"
                    },
                    {
                        "name": "X-RapidAPI-Host",
                        "value": "real-time-amazon-data.p.rapidapi.com"
                    }
                ],
                "shareCookies": true,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 42,
            "module": "openai-gpt-3:askAnything",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "model": "gpt-5.4",
                "textPrompt": "You are a Pinterest SEO expert for women fastion {{1.data.data.products[].product_title}}\r\n\r\nDescriptions: less tha\nn 500 character\r\nKeywords:\r\n#keyword1 #keyword2"
            },
            "metadata": {
                "designer": {
                    "x": 251,
                    "y": -13
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "GPT-5.4The frontier model for broad, general-purpose work and coding, delivering higher-quality outputs for complex tasks"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gpt-5.5",
                                "gpt-5.4-nano",
                                "gpt-5.4-mini",
                                "gpt-5.4",
                                "gpt-5.3-chat-latest",
                                "gpt-5.2",
                                "gpt-5.1",
                                "gpt-5",
                                "gpt-5-nano",
                                "gpt-5-mini"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 45,
            "module": "openai-gpt-3:askAnything",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "model": "gpt-5.4",
                "textPrompt": "Generate:\n- 1 highly clickable Pinterest SEO title\nRules:\n- Title must be catchy and searchable\n- Use Pinterest SEO keywords naturally less than 100 characters\nTopic:amazon women fashion {{1.data.data.products[].product_title}}"
            },
            "metadata": {
                "designer": {
                    "x": 496,
                    "y": -13
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "GPT-5.4The frontier model for broad, general-purpose work and coding, delivering higher-quality outputs for complex tasks"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gpt-5.5",
                                "gpt-5.4-nano",
                                "gpt-5.4-mini",
                                "gpt-5.4",
                                "gpt-5.3-chat-latest",
                                "gpt-5.2",
                                "gpt-5.1",
                                "gpt-5",
                                "gpt-5-nano",
                                "gpt-5-mini"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "affiliate_link",
                "scope": "roundtrip",
                "value": "{{1.data.data.products[].product_url}}?tag=fashionhu013f-21"
            },
            "metadata": {
                "designer": {
                    "x": 739,
                    "y": -26
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "affiliate_link",
                        "type": "any",
                        "label": "affiliate_link"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7088326
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{1.data.data.products[].product_title}}",
                    "1": "{{1.data.data.products[].product_price}}",
                    "2": "{{1.data.data.products[].product_original_price}}",
                    "3": "{{1.data.data.products[].product_minimum_offer_price}}",
                    "4": "{{1.data.data.products[].product_photo}}",
                    "5": "{{1.data.data.products[].product_url}}",
                    "6": "{{1.data.data.products[].coupon_text}}",
                    "7": "{{1.data.data.products[].delivery}}",
                    "8": "{{1.data.data.products[].product_badge}}",
                    "9": "{{42.result}}",
                    "10": "{{9.affiliate_link}}",
                    "13": "{{1.data.data.products[].delivery}}"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "/1RE4BsSRs8CEScicBQ2vwHQlDyE42X-wqmGp5DCI_xIk",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 999,
                    "y": -14
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Amazon Affilate"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Product Name (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Price (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Orignal Price (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Offer Price (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Image url (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Product Url (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Coupan  (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Delivery (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Product Badge (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Description (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Affilate link (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Pintrest pin url (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "Pin title ( short ) (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "Date (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "Status (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "Product Name",
                                                "Price",
                                                "Orignal Price",
                                                "Offer Price",
                                                "Image url",
                                                "Product Url",
                                                "Coupan ",
                                                "Delivery",
                                                "Product Badge",
                                                "Description",
                                                "Affilate link",
                                                "Pintrest pin url",
                                                "Pin title ( short )",
                                                "Date",
                                                "Status"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (ritujangid776@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "required": true,
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Product Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Price (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Orignal Price (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Offer Price (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Image url (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Product Url (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Coupan  (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Delivery (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Product Badge (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Description (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Affilate link (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Pintrest pin url (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Pin title ( short ) (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "Date (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "Status (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Product Name",
                                    "Price",
                                    "Orignal Price",
                                    "Offer Price",
                                    "Image url",
                                    "Product Url",
                                    "Coupan ",
                                    "Delivery",
                                    "Product Badge",
                                    "Description",
                                    "Affilate link",
                                    "Pintrest pin url",
                                    "Pin title ( short )",
                                    "Date",
                                    "Status"
                                ]
                            ]
                        ]
                    }
                ]
            }
        },
        {
            "id": 43,
            "module": "pinterest:createPin",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7193226
            },
            "mapper": {
                "link": "{{9.affiliate_link}}",
                "title": "{{45.result}}",
                "board_id": "1120763125958825801",
                "description": "{{42.result}}",
                "media_source": {
                    "url": "{{1.data.data.products[].product_photo}}",
                    "source_type": "image_url"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1240,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "board_id": {
                            "mode": "chose",
                            "label": "Quick saves"
                        },
                        "media_source": {
                            "nested": {
                                "is_standard": {
                                    "mode": "chose"
                                },
                                "source_type": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "ad_account_id": {
                            "mode": "chose"
                        },
                        "parent_pin_id": {
                            "mode": "chose"
                        },
                        "board_section_id": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pinterest2"
                            },
                            "label": "My pinterest connection (ritujangid776)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pinterest2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "media_source",
                        "spec": [
                            {
                                "name": "source_type",
                                "type": "select",
                                "label": "Source Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "video_id",
                                        "image_url",
                                        "multiple_image_urls",
                                        "image_base64",
                                        "multiple_image_base64"
                                    ]
                                }
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "Image URL",
                                "required": true
                            },
                            {
                                "name": "is_standard",
                                "type": "boolean",
                                "label": "Is Standard"
                            }
                        ],
                        "type": "collection",
                        "label": "Media Source",
                        "required": true
                    },
                    {
                        "name": "board_id",
                        "type": "select",
                        "label": "Board",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Pin Name"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description",
                        "validate": {
                            "max": 800
                        }
                    },
                    {
                        "name": "link",
                        "type": "url",
                        "label": "Link"
                    },
                    {
                        "name": "alt_text",
                        "type": "text",
                        "label": "Alternative Text"
                    },
                    {
                        "name": "dominant_color",
                        "type": "color",
                        "label": "Dominant Color"
                    },
                    {
                        "name": "parent_pin_id",
                        "type": "select",
                        "label": "Parent Pin"
                    },
                    {
                        "name": "ad_account_id",
                        "type": "select",
                        "label": "Ad Account"
                    },
                    {
                        "name": "board_section_id",
                        "type": "select",
                        "label": "Board Section"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}